<div class="container">
            <div class="row">
                <div class="col-md-12">
                
                    <div class="flexslider">
                        <ul class="slides">
                            <li><img src="img/slider/slide-1.jpg" alt="">
                            <p class="flex-caption">Tired of feeling lonely?</p>
                            </li>
                            <li><img src="img/slider/slide-2.jpg" alt="">
                            <p class="flex-caption">Missing your old Dungeons and Dragons crew?</p>
                            </li>
                            <li>
                            <img src="img/slider/slide-4.jpg" alt="">
                            <p class="flex-caption">No more singing alone!</p>
                            </li>
                            <li>
                            <img src="img/slider/slide-3.jpg" alt="">
                            <p class="flex-caption">Find a new "Besty" at Friend-OS!</p>
                            </li>
                            <li>
                            <img src="img/slider/slide-5.jpg" alt="">
                            <p class="flex-caption">Lets get the high fives started!</p>
                            </li>
                        </ul>
                    </div><!-- End slider -->
                    
                </div><!-- End row -->
            </div><!-- End col-md-12 -->
            
            <div class="row">
            
                <div class="col-md-3 col-sm-6">
                 <div class="box_calculator">
                        <a href="/welcome/pricing">
                        <img src="img/icon-1.png" alt="">
                        <h3>Find a friend in minutes</h3>
                        <p>Stop watching the paint peel, get out there and have some fun!</p>
                        </a>
                    </div><!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="/welcome/pricing">
                        <img src="img/icon-2.png" alt="">
                        <h3>Hugs = Happy Hearts<br /><br /></h3>
                        <p>You don't have to die young and alone!  Get started today.</p>
                        </a>
                    </div><!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="/welcome/pricing">
                        <img src="img/icon-3.png" alt="">
                        <h3>Fun Sitting or Standing</h3>
                        <p>It doesn't matter if you like bowling or playing XBox.</p>
                        </a>
                    </div><!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="/welcome/pricing">
                        <img src="img/icon-4.png" alt="">
                        <h3>All Body Types<br /></h3>
                        <p>Everybody needs a friend, out there is someone even lonelier than you.</p>
                        </a>
                    </div><!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
            </div><!-- End row -->
            
            <h3 class="title">The world's first hug powered operating system</h3>
            <%= yield %>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title-2"><span>Friend</span> / Found</h3>
                    <p>The friend operating system has been built from the ground up to help lonely people fill the void in their lives with a new friend.  <strong>Unlike dating sites or those scary "meet-up" sites</strong>, Friend-OS is dedicated to one thing and one thing only, helping you find a <strong>new best friend</strong>.
                    </p>
                    <p>
                        Friend-OS has successfully matched up lonely people from all across the country with new best friends.
                    </p>
                    <p><a href="/welcome/pricing" class="button_small">Sign Up Now!</a></p>
                </div>
                
                <div class="col-md-6">
                    <h3 class="title-2"><span>Social</span> / Operating System</h3>
                    <p>
                        Are you sick of seeing your co-workers and relatives spend hours and hours a day reading their friends posts on Facebook?  Ever wonder what it would be like to have a birthday greeting on your "wall" from your very own Facebook friends?
                    </p>
                    <p>
                        With Friend-OS's <strong><i>"I'm Social Too"</i></strong> feature you don't have to spend any more time wondering, you could be one of those people with hundreds of virtual friends too!<br><br>
                    </p>
                    <p><a href="/welcome/social" class="button_small">Get Started Today!</a></p>
                </div>
            </div><!-- End row -->
            
            
            <h3 class="title">New Friends Found</h3>
            
            <div class="row">
            
                <div class="col-md-6">
                    <div class="quote clearfix">
                        <img src="img/testimonial-1.jpg" class="img-circle" alt="">
                        <p>
                             When my Warhammer 2000 buddy moved back to Nepal I found myself sitting home alone.  We tried a few games over Skype but waiting 2-3 weeks for him to mail me my figurines quickly took the fun out of it.  Pretty soon I gave up all hope ... until Friend-OS!!!
                        </p>
                        <em>Shawn M.</em>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="quote clearfix">
                        <img src="img/testimonial-4.jpg" class="img-circle" alt="">
                        <p>
                             My new besty gives me high fives every five minutes.  We call them five by fives.
                        </p>
                        <em>Ray R.</em>
                    </div>
                </div>

            <div class="row">
            </div><!-- End row -->

                <div class="col-md-6">
                    <div class="quote clearfix">
                        <img src="img/testimonial-2.jpg" class="img-circle" alt="">
                        <p>
                             Soo Alone. Soooo Alone.  I repainted my one bedroom studio 5 times just to kill the boredom.  It wasn't until I woke up in the hospital having passed out from the fumes that I realized I needed a change... I now have over 200 Facebook friends!
                        </p>
                        <em>Jeff Z.</em>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="quote clearfix">
                        <img src="img/testimonial-5.jpg" class="img-circle" alt="">
                        <p>
                             I needed a particular kind of friend, pretty enough not to hold me back when I went out at night, but homely enough to take a backseat when it mattered.  I never would have found my new besty Ungenia without Friend-OS.
                        </p>
                        <em>Tara W.</em>
                    </div>
                </div>
                

                
            </div><!-- End row -->

        </div><!-- End container -->
        
        <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Contacts</h5>
                    <p>
                        Our mission is to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world. to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world.
                    </p>
                    <ul>
                        <li><i class="icon-user"></i> Personal trainer Name</li>
                        <li><i class="icon-phone"></i> Telephone: 41.22.319.36.10 </li>
                        <li><i class="icon-envelope"></i> Email: <a href="#">info@planar.com </a></li>
                        <li><i class="icon-skype"></i> Skype name: Planar</li>
                    </ul>
                    <ul class="social-bookmarks clearfix">
                        <li class="linkedin"><a href="#">behance</a></li>
                        <li class="facebook"><a href="#">facebook</a></li>
                        <li class="googleplus"><a href="#">googleplus</a></li>
                        <li class="twitter"><a href="#">twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="add_bottom_15">Suggest this site to a friend</h5>
                    <div id="message-friend"></div>
                    <form method="post" action="assets/send_to_friend.php" id="contactfriend">
                        <div class="form-bg-1"><input type="text" id="name_footer" class="form-control" placeholder="Your name*"></div>
                        <div class="form-bg-2"><input type="text" id="friendname_footer" class="form-control" placeholder="Your friend name*"></div>
                        <div class="form-bg-1"><input type="email" id="friendemail_footer" class="form-control" placeholder="Your friend email*"></div>
                        <div class="form-bg-2"><textarea rows="3" id="message_footer" class="form-control" placeholder="Message*"></textarea></div>
                        <div class="form-bg-1"><input type="text" id="verify_footer" class="form-control" placeholder="Are you human? 3 + 1 ="></div>
                        <input type="submit" id="submit-friend" value="Submit" class=" button_medium add_top_30">
                    </form>
                </div>
            </div>
        </div>
        <div id="copy">© 2013 - All Rights Reserved</div>
        </footer><!-- End footer -->


<!-- FLEXSLIDER -->  
<script defer src="js/jquery.flexslider.js"></script> 
 <script type="text/javascript">
/* <![CDATA[ */
  $(window).load(function() {
  $('.flexslider').flexslider({
    animation: "fade",
    slideshowSpeed: 3000
  });
});
  /* ]]> */
</script> 
