<div class="container">
            
            <h2 class="title">Sign Up Today</h3>
            
            <div class="row">

                    <form>
                        <div class="form-bg-1"><input type="text" class="form-control" name="Code" placeholder="Invitation Code"></div>
                        
    
                    </form>
                    <button id="selectBtn" class="button_medium add_top_30">Begin Registering</button>
   
                

            </div>
</div>