<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>Friend OS: The Worlds First Hug Powered Operating System</title>
<meta name="description" content="Only 16$ - PLANAR Personal trainer site template with calories calculators">
<meta name="author" content="Ansonika">

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="/image/x-icon"/>
<link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" >
<link href="/css/socialize-bookmarks.css" rel="stylesheet">
<link rel="stylesheet" href="/js/fancybox/source/jquery.fancybox.css?v=2.1.4">
<link href="/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen">

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Jquery -->
<script src="/js/jquery.1.7.2.min.js"></script>



  <%= csrf_meta_tags %>

<!-- Support media queries for IE8 -->
<script src="/js/respond.min.js"></script>

<!-- HTML5 and CSS3-in older browsers-->
<script src="/js/modernizr.custom.17475.js"></script>

<!--[if IE 7]>
  <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->


</head>

<body>

   		<header>
           <div class="container">
            <div class="row">
        	<div class="col-md-4 col-xs-3"><h1 id="logo"><a href="/" title="Planar - Personal Trainer">Friend-OS: The World's First Hug Powered OS</a></h1></div>
            <nav class="col-md-8 col-xs-9">
            	<ul id="main-nav" class="sf-menu" >
                <li><a href="/">About Friend-OS</a>
                	<ul>
                        <li><a href="/welcome/overview">Overview</a></li>
                        <li><a href="/welcome/social">"I'm Social Too"</a></li>
                        <li><a href="/welcome/pricing">Pricing</a></li>
                  	</ul>
                </li>
                <li><a href="#">Loneliness Calculator</a>
                	<ul>
                        <li><a href="/welcome/types">Types of Loneliness</a></li>
                  	</ul>
                </li>
                <li><a href="/users">Search Profiles</a>
                </li>
                <li><a href="#">Sign Up/In</a></li>
                </ul>
            </nav><!-- End Nav -->
         </div>
        </div><!-- End container -->
        </header> <!-- End header -->
        
<%= yield %>
 
 <div id="toTop">Back to Top</div>  
 


<!-- MENU JS -->    
<script src="/js/hoverIntent.js"></script>
<script src="/js/superfish.js"></script>
<script src="/js/mobile-menu.js"></script>

<!-- OTHER JS --> 
<script src="/js/placeholder.js"></script>
<script src="/js/inview.js"></script> 
<script src="/js/bootstrap.js"></script>
<script src="/js/validate.js"></script> 
<script src="/js/functions.js"></script>



<!-- FANCYBOX -->
<script  src="/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.4" type="text/javascript"></script> 
<script src="/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5" type="text/javascript"></script> 
<script src="/js/fancy_func.js" type="text/javascript"></script> 


</body>
</html>